body {
    font-family: "Cambria";
    font-style: italic;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

p {
    text-align: justify;
    line-height: 20px;
}

a {
    text-decoration: none;
}