/* This CSS stylesheet contains the styling code for the Earth-and-Mars website */

/* General */
body {
    font-family: "Cambria";
    font-style: italic;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

p {
    text-align: justify;
    line-height: 20px;
}

a {
    text-decoration: none;
}

.intro {
    font-size: 24px;
}

header {
    background-color: antiquewhite; /* For all the headers, in all the web pages */
    padding: 5px; /* Padding =  More background around the element; Margin = More empty space around the element */
    margin-left: 450px;
    margin-right: 450px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto; /* If we have margin: a b c then the left and right margins take up the value 'b'. The left and right margin
    values are the same and the top and bottom margin values are the same, if one or more margin values are missing in the input */
    width: 50%;
}

/* Selectors for the homepage */
.footer-font {
    font-size: 12px;
}

/* Selectors for the Earth page */
#earth-title {
    color: #2a8442;
}

.earth-header {
    background-color: rgba(1, 1, 7, 0.651);
}

/* Selectors for the Mars page */
#mars-title {
    color: lightsalmon;
}