/* This CSS stylesheet contains the styling code for the Earth-and-Mars website */
body {
    font-family: "Cambria";
    font-style: italic;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

p {
    text-align: justify;
    line-height: 20px;
}

a {
    text-decoration: none;
}

.intro {
    font-size: 24px;
}

#earth-title {
    color: #2a8442;
}

#mars-title {
    color: lightsalmon;
}

.footer-font {
    font-size: 12px;
}

header {
    background-color: antiquewhite; /* For all the headers, in all the web pages */
}

.earth-header {
    background-color: rgba(1, 1, 7, 0.651);
}